In [105]:
import joblib
import pandas as pd
import re
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error, r2_score

### Testing assets

In [101]:
scaler_path = r"../assets/normalizer.save"
encoder_path = r"../assets/encoder.save"
columns_used_path = r"../assets/feature_columns.save"
imputer_path = r"../assets/imputer.save"
model_path = r"../assets/model.save"

scaler = joblib.load(scaler_path)
encoder = joblib.load(encoder_path)
columns_used = joblib.load(columns_used_path)
imputer = joblib.load(imputer_path)
model = joblib.load(model_path)

assets = {"scaler":scaler, "encoder":encoder, "columns_used":columns_used, "imputer":imputer, "model":model}

### Load testing data

In [2]:
testing_data_path = r"../datasets/DatiumTest.rpt"
testing_df = pd.read_csv(testing_data_path, delimiter="\t")

/var/folders/8b/2xzjkyq14dz6gp0ygflgcj6w0000gn/T/ipykernel_7096/2384415063.py:2: DtypeWarning: Columns (27,91) have mixed types. Specify dtype option on import or set low_memory=False.
  testing_df = pd.read_csv(testing_data_path, delimiter="\t")

In [3]:
testing_df.shape

(11488, 130)

In [6]:
[print(f"{col} : {null_count}") for col, null_count in testing_df.isnull().sum().items() if null_count>0]

Series : 165
SeriesModelYear : 5822
BadgeDescription : 813
BadgeSecondaryDescription : 10157
BodyConfigDescription : 9057
WheelBaseConfig : 11095
Roofline : 11288
ExtraIdentification : 10550
GearLocationDescription : 4
GearNum : 9
CamDescription : 9
FuelCapacity : 15
MethodOfDeliveryDescription : 12
GrossCombinationMAss : 5723
GrossVehicleMass : 3333
VIN : 54
WheelBase : 4
Height : 13
Length : 18
Width : 10
KerbWeight : 1126
TareMass : 1543
PayLoad : 4110
Power : 4
PowerRPMFrom : 11148
PowerRPMTo : 4
Torque : 3
TorqueRPMFrom : 8486
TorqueRPMTo : 12
RonRating : 4138
ModelCode : 1944
ValvesCylinder : 4
EngineConfigurationDescription : 7
EngineNum : 213
Acceleration : 9148
FrontTyreSize : 18
RearTyreSize : 18
FrontRimDesc : 10
RearRimDesc : 10
TowingBrakes : 519
TowingNoBrakes : 627
WarrantyCustAssist : 5952
FreeScheduledService : 11411
WarrantyYears : 14
WarrantyKM : 36
FirstServiceKM : 1759
FirstServiceMonths : 2537
RegServiceMonths : 322
AltEngEngineType : 11190
AltEngBatteryType : 11191
AltEngCurrentType : 11192
AltEngAmpHours : 11488
AltEngVolts : 11188
AltEngChargingMethod : 11193
AltEngPower : 11191
AltEngPowerFrom : 11486
AltEngPowerTo : 11476
AltEngTorque : 11238
AltEngTorqueFrom : 11488
AltEngTorqueTo : 11486
AltEngDrive : 11199
NormalChargeMins : 11486
QuickChargeMins : 11488
NormalChargeVoltage : 11486
QuickChargeVoltage : 11488
KMRangeElectricEng : 11479
ElectricEngineLocation : 11464
TopSpeedElectricEng : 11481
GreenhouseRating : 2704
AirpollutionRating : 2704
OverallGreenStarRating : 2611
CO2Combined : 328
CO2Urban : 2747
CO2ExtraUrban : 2747
FuelUrban : 1752
FuelExtraurban : 1765
FuelCombined : 162
EmissionStandard : 4721
MaxEthanolBlend : 8675
AncapRating : 1992
VFactsClass : 12
VFactsSegment : 12
VFactsPrice : 2508
AverageKM : 15
GoodKM : 15
AvgWholesale : 53
AvgRetail : 18
GoodWholesale : 25
GoodRetail : 14
TradeMin : 53
TradeMax : 53
PrivateMax : 14
NewPrice : 1
Colour : 31
Compliance_Date : 16
Age_Comp_Months : 16
KM : 3

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [45]:
def clean_categorical_columns(input_df:pd.DataFrame):
    """
        Handle the categorical columns by dropping, converting data type

        - drop Model as could be data duplication of other cols
        - drop MakeCode, FamilyCode due to repeated col in Make,Model
        - drop Description due to length of time need to process
        - drop Series as indetifier col
        - drop VIN as identifier
        - drop EngineNum as identifier
        
        - Tyre ratings are in the format of: {width(mm)}/{ratio}R{rim size(inches)}
        - format FrontTyreSize, split into FrontTyreWidth(mm), FrontTyreRatio, FrontTyreRimSize(inches)
        - format RearTyreSize, split into RearTyreWidth(mm), RearTyreRatio, RearTyreRimSize(inches)
        - convert EngineDescription to float 

        - Drop FrontRimDesc, RearRimDesc, will have high correlation to Tyre size
        - Drop Colour, too many variations to format in limited time

        - format Sold_Date, Compliance_Date
    """

    df = input_df.copy()

    cols_to_drop = ['Model', 'MakeCode', 'FamilyCode', 'Description', 'Series', 'VIN', 'EngineNum', ]
    df.drop(cols_to_drop, axis=1, inplace=True)

    #tyre size contains two different formats
    #uncertain what format "'7.50 R16 C 6PR'" belongs to, treat as -1
    #only extract for format like 225/60 R16
    def is_standard_tyre_format(tyre_info):
        
        re_pattern = r"^\d{3}/\d{2}\s{1}R{1}\d{2}"
        pattern = re.compile(re_pattern)
        is_match = pattern.match(tyre_info)

        return is_match
        
    df['RearTyreRadius(inches)'] = df['RearTyreSize'].map(lambda tire_size: int(re.compile(r"R\d{2}").search(tire_size).group().strip().strip('R')[-1]) if is_standard_tyre_format(tire_size) else -1)
    df['RearTyreWidth(mm)'] = df['RearTyreSize'].map(lambda tire_size : int(tire_size.strip().split('/')[0]) if is_standard_tyre_format(tire_size) else -1)
    df['RearTyreRatio'] = df['RearTyreSize'].map(lambda tire_size : int(tire_size.strip().split('/')[1].split('R')[0].strip()) if is_standard_tyre_format(tire_size) else -1)
    df.drop('RearTyreSize', axis=1)

    df['FrontTyreRadius(inches)'] = df['FrontTyreSize'].map(lambda tire_size: int(re.compile(r"R\d{2}").search(tire_size).group().strip().strip('R')[-1]) if is_standard_tyre_format(tire_size) else -1)
    df['FrontTyreWidth(mm)'] = df['FrontTyreSize'].map(lambda tire_size : int(tire_size.strip().split('/')[0]) if is_standard_tyre_format(tire_size) else -1)
    df['FrontTyreRatio'] = df['FrontTyreSize'].map(lambda tire_size : int(tire_size.strip().split('/')[1].split('R')[0].strip()) if is_standard_tyre_format(tire_size) else -1)
    df.drop('FrontTyreSize', axis=1)

    df.loc[df[df['EngineDescription'] == '13B'].index,'EngineDescription'] = 3.0 #cheat here
    df['EngineDescription'] = df['EngineDescription'].astype(float)

    df.drop(['FrontRimDesc', 'RearRimDesc'], axis=1, inplace= True)

    df.drop('Colour', axis=1, inplace=True)

    #"2015-11-03 00:00:00.000"
    datetime_format = "%Y-%m-%d"
    df['Sold_Date'] = pd.to_datetime(df['Sold_Date'].map(lambda dt : dt[:10]), format=datetime_format)
    df['Sold_Year'] = df['Sold_Date'].dt.year
    df['Sold_Month'] = df['Sold_Date'].dt.month
    df.drop('Sold_Date', inplace=True, axis=1)
    
    #02/2008
    datetime_format = "%m/%Y"
    df['Compliance_Date'] = pd.to_datetime(df['Compliance_Date'], format=datetime_format)
    df['Compliance_Year'] = df['Compliance_Date'].dt.year
    df.drop('Compliance_Date', inplace=True, axis=1)

    return df

In [76]:
def normalize_data(input_df:pd.DataFrame, scaler:MinMaxScaler):
    """
        Normalise the input data
    """

    df = input_df.copy()

    SC = scaler
    numerical_df = df[scaler.feature_names_in_]
    non_numerical_df = df.drop(scaler.feature_names_in_, axis=1)
    normalized_data = SC.transform(numerical_df)
    normalized_df = pd.DataFrame(normalized_data)
    normalized_df.columns = numerical_df.columns

    normalized_df.reset_index(drop=True, inplace=True)
    non_numerical_df.reset_index(drop=True, inplace=True)

    joined_df = pd.concat([normalized_df,non_numerical_df], axis=1)

    normalize_data.scaler = SC

    return joined_df

In [69]:
def one_hot_encode(input_df:pd.DataFrame, encoder:OneHotEncoder):
    """
        One hot encode on the categorical cols
    """

    df = input_df.copy()

    non_numerical_cols_df = df[encoder.feature_names_in_]
    numerical_cols_df = df.drop(encoder.feature_names_in_, axis=1)
    
    non_numerical_cols_df.astype(str)

    en = encoder
    one_hot_encoded = en.transform(non_numerical_cols_df)

    one_hot_encode.transformer = en
    one_hot_df = pd.DataFrame(one_hot_encoded)
    one_hot_encode.one_hot_df = one_hot_df
    one_hot_df.columns = en.get_feature_names_out()
    numerical_cols_df.reset_index(drop=True, inplace=True)
    one_hot_df.reset_index(drop=True, inplace=True)
    joined_df = pd.concat([numerical_cols_df, one_hot_df], 1)

    return joined_df

In [62]:
def clean_data(input_df:pd.DataFrame, assets:dict):
    """
        Clean the testing data
    """

    df = input_df.copy()
    features = df[assets["columns_used"]]

    imputer = assets["imputer"]
    imputed_vals = imputer.transform(features)
    imputed_df = pd.DataFrame(imputed_vals)
    imputed_df.columns = features.columns

    formatted_df = clean_categorical_columns(imputed_df)

    normalized_df= normalize_data(formatted_df, assets['scaler'])

    encoded_df = one_hot_encode(normalized_df, assets['encoder'])
    

    

    return encoded_df

In [66]:
encoder = assets['encoder']

In [68]:
encoder.feature_names_in_

array(['Make', 'CurrentRelease', 'ImportFlag', 'LimitedEdition',
       'BodyStyleDescription', 'DriveDescription', 'DriveCode',
       'GearTypeDescription', 'GearLocationDescription',
       'FuelTypeDescription', 'InductionDescription', 'OptionCategory',
       'CamDescription', 'EngineTypeDescription',
       'FuelDeliveryDescription', 'MethodOfDeliveryDescription',
       'BuildCountryOriginDescription', 'EngineCycleDescription',
       'EngineConfigurationDescription', 'EngineLocation',
       'FrontTyreSize', 'RearTyreSize', 'VFactsClass', 'VFactsSegment',
       'IsPPlateApproved', 'Branch', 'SaleCategory'], dtype=object)

### Split into features and targets

In [91]:
x_test = testing_df.drop("Sold_Amount", axis=1)
y_test = testing_df["Sold_Amount"]

In [93]:
x_test.head()

,Make,Model,MakeCode,FamilyCode,YearGroup,MonthGroup,SequenceNum,Description,CurrentRelease,ImportFlag,...,TradeMax,PrivateMax,NewPrice,Colour,Branch,SaleCategory,Sold_Date,Compliance_Date,Age_Comp_Months,KM
0,Ford,Ranger,FORD,RANGER,2014,0,4,PX XL Hi-Rider Cab Chassis Single Cab 2dr Spts...,F,L,...,16600.0,20400.0,30740.0,White,Wagga Wagga (NSW),Auction,2017-08-31 00:00:00.000,04/2014,40.0,19963.0
1,Toyota,Kluger,TOYO,KLUGER,2015,11,11,GSU55R Grande Wagon 7st 5dr Spts Auto 6sp AWD ...,F,L,...,46600.0,53400.0,68330.0,218 - Eclipse Black (T),Sunshine (VIC),Dealer Only Auction,2017-05-10 00:00:00.000,02/2016,15.0,13176.0
2,Subaru,Liberty,SUBA,LIBERTY,2012,0,1,B5 MY12 2.5i Sedan 4dr Lineartronic 6sp AWD,F,L,...,10800.0,13500.0,34990.0,Silver,Canberra (ACT),Auction,2016-10-13 00:00:00.000,06/2012,52.0,122080.0
3,Jeep,Compass,JEEP,COMPASS,2014,0,4,MK MY14 North Wagon 5dr Spts Auto 6sp 2.0i,F,L,...,14600.0,18100.0,31000.0,Black,Belmore (NSW),Auction,2016-03-02 00:00:00.000,04/2014,23.0,25177.0
4,Mitsubishi,Triton,MITS,TRITON,2011,0,7,MN MY11 GLX Utility Double Cab 4dr Auto 4sp 96...,F,L,...,11800.0,14700.0,34590.0,White,Belmore (NSW),Auction,2016-12-20 00:00:00.000,10/2011,62.0,49311.0

In [102]:
cleaned_features_df =  clean_data(x_test, assets)

/var/folders/8b/2xzjkyq14dz6gp0ygflgcj6w0000gn/T/ipykernel_7096/1097477934.py:22: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  joined_df = pd.concat([numerical_cols_df, one_hot_df], 1)

In [103]:
predictions = model.predict(cleaned_features_df.values)

/opt/homebrew/Caskroom/miniforge/base/envs/datium_test_py3.9/lib/python3.9/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

### Evaluate Regression Metrics

In [106]:
def score_prediction(y_pred, y_true):
    """
        Scores the model predictions by calculation the 
    """

    explained_variance_score, mean_absolute_error, mean_squared_error, r2_score
    explained_var = explained_variance_score(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)

    print(f"explained_variance:{explained_var}\n mae:{mae}\n mse:{mse}\n r2:{r2}")

In [107]:
score_prediction(y_test, predictions)

explained_variance:-123751610401.88234
 mae:18142.059934134824
 mse:458903701.08394104
 r2:-437623110457.96014